.map {
    width: 100% !important;
    height: 100% !important;
    background-color: #f6f6f4;
}

.boton-regresar {
    position: fixed;
    right: 20px;
    top: 20px;
    color: red;
    font-size: 45px !important;
}