<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Historial
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="enviarCorreo()">
        <ion-icon slot="icon-only" name="send" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-item detail *ngFor="let registro of dataLocal.guardados">
    <ion-icon slot="start" [name]="registro.icon" color="primary"></ion-icon>
    <ion-label>
      <h2>{{ registro.text }}</h2>
      <p>{{ registro.created_at | date: 'medium' }}</p>
    </ion-label>
  </ion-item>


</ion-content>
